body {
    background-color: #555555;
    margin: 32px 25vh;
}

#site {
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

#links > * {
    margin-right: 8px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 32px;
}

#email-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 24px;
}

#email-form > button {
    width: 200px;
    margin-top: 16px;
    align-self: center;
}

#aside {
    color: darkgray;
}

aside {
    background-color: #EEEEEE;
    border-radius: 8px;
    padding: 16px;
}

aside > h2 {
    margin-top: 0;
}

ul > li {
    margin-bottom: 8px;
}

footer {
    margin-top: 80px;
    text-align: center;
}
